<div id="home-main">
  <div class="container title-div" id="home-container">
    <div class="name-container">
      <h1>Matt Seaton</h1><h2>Full Stack Developer || Denver, CO</h2>
    </div>
    <img id="me-pic" src="../../assets/GalvanizePic.jpg" />
  </div>
  <div class="jumbotron" id="title-box">
    <h1>Welcome</h1>
  </div>
  <div class="col-lg-12" id="whole-thing">
    <div class="col-lg-5" id="left-side">
      <a href="#"><h2 class="panel panel-body nav-panel" ng-click="$ctrl.goAbout()">About</h2></a>
      <a href="#"><h2 class="panel panel-body nav-panel" ng-click="$ctrl.goTravels()">Travels</h2></a>
    </div>
    <div class="col-lg-5" id="right-side">
      <a href="#"><h2 class="panel panel-body nav-panel" ng-click="$ctrl.goProjects()">Projects</h2></a>
      <a href="#"><h2 class="panel panel-body nav-panel" ng-click="$ctrl.goContact()">Contact</h2></a>
    </div>
  </div>
</div>
