<div id="travels-main-one">
  <div class="title-div">
    <h1 id="travel-title">Travels</h1>
    <h4 id="fitz-quote">"It's a funny thing about coming home. Looks the same, smells the same, feels the same. You realize what's changed is you."</h4>
  </div>

  <div class="container travel-box">
    <h1>USA</h1>
    <img class="travel-thumb" src="../../assets/USA.jpg">
  </div>
  <div class="container travel-box">
    <img class="travel-thumb" src="../../assets/Japan.jpg">
    <h1>Japan</h1>
  </div>
</div>
<div id="travels-main-two">

  <div class="container travel-box">
    <h1>Singapore</h1>
    <img class="travel-thumb" src="../../assets/Singapore.jpg">
  </div>
  <div class="container travel-box">
    <img class="travel-thumb" src="../../assets/Bali.jpg">
    <h1>Bali</h1>
  </div>

  <div class="container-fluid" id="map-container">
    <img id="pixel-map" src="../../assets/pixelMap.png" />
  </div>

  <div class="container travel-box" id="honorable-mention">
    <div id="left-side">
      <h2>Canada</h2>
      <h2>United Kingdom</h2>
      <h2>Mexico</h2>
      <h2>Spain</h2>
      <h2>France</h2>
    </div>
    <div id="right-side">
      <h2>Thailand</h2>
      <h2>China</h2>
      <h2>Turkey</h2>
      <h2>Germany</h2>
      <h2>Italy</h2>
    </div>
  </div>

</div>
